*{
    font-family: Main;
}
@font-face {
    font-family: "Main";
    src: url("CorruptedFile.ttf");
    }
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
.centerver {
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.button {
    position:relative;
    width: auto;
    color:#1c2027;
    text-decoration:none;
    border-radius:5px;
    border:solid 0px;
    background:color: #cbd1db ;
    text-align:center;
    padding:16px 18px 14px;
  
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
  
    -webkit-box-shadow: 0px 8px 0px #a5adb9;
    -moz-box-shadow: 0px 8px 0px #a5adb9;
    box-shadow: 0px 8px 0px #a5adb9;
  }
  .back {
    position:fixed;
    right:20px; 
    bottom:20px;
    width: auto;
    color:#1c2027 ;
    text-decoration:none;
    border-radius:5px;
    border:solid 0px;
    background:color: #cbd1db ;
    text-align:center;
    padding:16px 18px 14px;
  
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
  
    -webkit-box-shadow: 0px 8px 0px #a5adb9;
    -moz-box-shadow: 0px 8px 0px #a5adb9;
    box-shadow: 0px 8px 0px #a5adb9;
  }
  .button:active{
    -webkit-box-shadow: 0px 2px 0px #a5adb9;
    -moz-box-shadow: 0px 2px 0px #a5adb9;
    box-shadow: 0px 2px 0px #a5adb9;
    position:relative;
    top:4px;
  }

.minus{
    color: #bdc5d3 ;
    background-color: #3b4047 ;
}
.minus:active{
    -webkit-box-shadow: 0px 2px 0px #4b515a;
    -moz-box-shadow: 0px 2px 0px #4b515a;
    box-shadow: 0px 2px 0px #4b515a;

  }

body{
    background-color: #1c2027;
    color: #cbd1db  ; 
}

br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 50px; /* change this to whatever height you want it */
 }

.form__field{
  width: 32%;
  border: 0;
  border-bottom: 2px solid #cbd1db;
  outline: 0;
  font-size: 40px;
  padding: 0px 0;
  background: transparent;
  transition: border-color 0.2s;
  color: #cbd1db;
}
